@charset 'utf-8';

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
body {
  font-family: "Sawarabi Gothic", sans-serif;
}
#drawArea {
  margin: 30px auto 0;
  position: relative;
}
#gameContainer {
  text-align: center;
  margin: 0 auto;
  width: 500px;
}

#gameBoard {
  border: 3px solid rgb(103, 97, 97);
  background-color: #dcc4c4;
}

#scoreText {
  font-size: 30px;
}

#levelEasy,
#levelHard,
#resetBtn {
  font-size: 15px;
  padding: 6px 16px;
  line-height: 17px;
  margin: 5px 20px 0 0;
  border: 2px solid;
  border-radius: 8px;
  cursor: pointer;
}

#guide {
  position: absolute;
  width: 70px;
  text-align: left;
  top: 2%;
  right: -47px;
  background-color: rgba(245, 243, 243, 0.3);
  font-size: 0.5rem;
  padding: 10px;
  opacity: 0.7;
}
p img {
  width: 20px;
  margin-right: 10px;
  vertical-align: bottom;
}

.easy {
  background-color: rgb(192, 207, 192);
}
.hard {
  background-color: rgb(230, 215, 187);
}
